In [1]:
import numpy as np
import pandas as pd

In [8]:
d = np.log(5)
d

1.6094379124341003

In [13]:
import pandas as pd

# Create a DataFrame with custom row labels
data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 30, 35],
        'place':['mumbai','thane','panvel']
       }

df = pd.DataFrame(data, index=['A', 'B', 'C'])

# Use .loc[] to select a row by its label
row_c = df.loc['C']
print(row_c)

name     Charlie
age           35
place     panvel
Name: C, dtype: object

In [32]:
import pandas as pd

data = {
    'A': [1, 2, 3, 4,22,33,44],
    'B': [5, 6, 7, 8,55,66,77],
    'C': [9, 10, 11, 12,88,99,100],
    'D':[13,14,15,16,17,18,19]
}

df = pd.DataFrame(data)
print(df)

    A   B    C   D
0   1   5    9  13
1   2   6   10  14
2   3   7   11  15
3   4   8   12  16
4  22  55   88  17
5  33  66   99  18
6  44  77  100  19

In [37]:
df.iloc[1:2,0:5]

   A  B   C   D
1  2  6  10  14